body {
    text-align: center;
        font-family: cursive;
}
img {
    width: 500px;
    height: 500px;
}
#motilili {
    height: 250px;
}
p {
    font-size: 25px;
}
#fatlili {
    width: 1400px;
}


